# Khám phá dữ liệu COVID

## Tính mean, median, mode, variance, standard deviation, range, percentile, quartile, interquartile range (IQR) sử dụng thư viện numpy và stats trên tập dữ liệu COVID.

### Import thư viện

In [63]:
import numpy as np
import pandas as pd
from scipy import stats
from scipy.stats import skew, kurtosis

### Nạp dữ liệu

In [25]:
covid_data = pd.read_csv("owid-covid-data.csv")
covid_data = covid_data[['iso_code','continent',
'location','date','total_cases','new_cases']]

### Một số thông tin về dữ liệu

In [26]:
print("5 dòng đầu dữ liệu: ")
display(covid_data.head(5))

5 dòng đầu dữ liệu:

  iso_code continent     location      date  total_cases  new_cases
0      AFG      Asia  Afghanistan  1/5/2020          0.0        0.0
1      AFG      Asia  Afghanistan  1/6/2020          0.0        0.0
2      AFG      Asia  Afghanistan  1/7/2020          0.0        0.0
3      AFG      Asia  Afghanistan  1/8/2020          0.0        0.0
4      AFG      Asia  Afghanistan  1/9/2020          0.0        0.0

In [27]:
print("5 dòng cuối dữ liệu: ")
display(covid_data.tail(5))

5 dòng cuối dữ liệu:

       iso_code continent  location       date  total_cases  new_cases
429430      ZWE    Africa  Zimbabwe  7/31/2024     266386.0        0.0
429431      ZWE    Africa  Zimbabwe   8/1/2024     266386.0        0.0
429432      ZWE    Africa  Zimbabwe   8/2/2024     266386.0        0.0
429433      ZWE    Africa  Zimbabwe   8/3/2024     266386.0        0.0
429434      ZWE    Africa  Zimbabwe   8/4/2024     266386.0        0.0

In [28]:
print("Kiểu dữ liệu của mỗi cột: ")
display(covid_data.dtypes)

Kiểu dữ liệu của mỗi cột:

iso_code        object
continent       object
location        object
date            object
total_cases    float64
new_cases      float64
dtype: object

In [29]:
print("Số dòng, số cột của dữ liệu: ")
display(covid_data.shape)

Số dòng, số cột của dữ liệu:

(429435, 6)

 ### Loại bỏ các giá trị NaN có trong dữ liệu để các phép tính toán ra kết quả đúng và có ý nghĩa thống kê

In [48]:
data = covid_data.dropna()

### Biến "new_cases"

1. Mean (Trung bình)

In [49]:
data_mean = np.mean(data["new_cases"])
print(data_mean)

1989.2149301024685

2. Median (Trung vị)

In [50]:
data_median = np.median(data["new_cases"].dropna())
print(data_median)

0.0

3. Mode (Giá trị xuất hiện nhiều nhất)

In [51]:
data_mode = stats.mode(data["new_cases"], keepdims=True)[0][0]
print(data_mode)

0.0

4. Variance (Phương sai)

In [53]:
data_variance = np.var(data["new_cases"])
print(data_variance)

7371624132.678684

5. Standard Deviation (Độ lệch chuẩn)

In [54]:
data_sd = np.std(data["new_cases"])
print(data_sd)

85858.16287737983

6. Min - Max (Giá trị nhỏ nhất - Giá trị lớn nhất)

In [56]:
data_max = np.max(data["new_cases"])
print("Max: ", data_max)
data_min = np.min(data["new_cases"])
print("Min: ", data_min)

Max:  40475477.0
Min:  0.0

7. Range (Khoảng giá trị)

In [57]:
data_range = data_max - data_min
print(data_range)

40475477.0

8. Percentiles (Phân vị)

In [59]:
data_percentile25 = np.percentile(data["new_cases"],25)
print(data_percentile25)
data_percentile50 = np.percentile(data["new_cases"],50)
print(data_percentile50)
data_percentile60 = np.percentile(data["new_cases"],60)
print(data_percentile60)
data_percentile75 = np.percentile(data["new_cases"],75)
print(data_percentile75)

0.0
0.0
0.0
0.0

9. Quartiles (Q1, Q2, Q3)

In [61]:
data_quartile = np.quantile(data["new_cases"],0.75)
print(data_quartile)

0.0

10. Interquartile Range (IQR)

In [62]:
data_IQR = stats.iqr(data["new_cases"])
print(data_IQR)

0.0

11. Skewness (Độ lệch)

In [64]:
data_skew = skew(data["new_cases"], nan_policy='omit')
print(data_skew)

340.4787726394824

12. Kurtosis (Độ lệch)

In [65]:
data_kurt = kurtosis(data["new_cases"], nan_policy='omit')
print(data_kurt)

145050.16526288373

skew > 0 → lệch phải (có nhiều giá trị lớn đột biến)

kurtosis > 3 → phân bố nhọn hơn bình thường (nhiều outliers)

In [67]:
zero_ratio = (data["new_cases"] == 0).mean() * 100
print(zero_ratio)

90.0200219959956